body {
  background-color: #000000;
  color: #ffffff;
}

.hello {
  text-align: center;
}

.jumbotron {
  background-color: #cb0000;
}

.nav-tabs {
  background-color: black;
}

li a {
  color: #b5ac00;
  background-color: #890000;
}

.nav-tabs > li.active > a {
  background-color: #cb0000;
}

.panel-body {
  border-color: #cb0000;
  background-color: #cb0000;
  text-align: center;
  width: 50%
}
